

.App {
  display: flex;
  align-items: center;
  flex-direction: column; 
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;


}

.footer-countdown {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #9ccc65;
}

.Navbarr {
  width: 100%;
  height: 80px;
  background-color: white;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar.navbar-expand.navbar-dark.bg-success {
  width: 100%;
  }

.carousel.carousel-dark {
    width: 100%;
   height: 54vh
   }
   
  .carousel-inner {
   height: 53vh;
   }
   
  .carousel-caption {
    bottom: 15rem !important;
   }

   .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .login-page .form .login{
    margin-top: -31px;
  margin-bottom: 26px;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
   width: 500px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 10px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .card-title {
    font-weight: bold;
    color: #328f8a; 
   
  }

  .card-button{
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  }
  
  .custom-card-body {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .split-text-container {
    display: flex;
  }
  
  .left-text,
.right-text {
  flex: 1;
  margin: 0 15px;
}

.left-text p,
.right-text p {
  text-align: justify;
}



/* starts here */
.Compare {
  width: 100%;
  height: 100%;
  margin: 10;
  padding: 5%;
  box-sizing: border-box;
  display: block;
  font-family: "Nunito",sans-serif;
}




.Hero_Hero__3IUGZ {
  padding: 2rem;
  height: 41rem;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Hero_Hero__3IUGZ .Hero_container__nTWTD {
  max-width: 75rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Hero_Hero__3IUGZ .Hero_container__nTWTD .Hero_Col1__hei_w {
  flex: 1 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.Hero_Hero__3IUGZ .Hero_container__nTWTD .Hero_Col2__1wzl5 {
  flex: 1.5 1;
  position: relative;
  width: 100%;
  height: 100%;
}

/* .Hero_Hero__3IUGZ .Hero_container__nTWTD .Hero_Col1__hei_w .Hero_main_header__qSRC0 {
  font-size: 2rem;
  margin-top: 0;
  margin-top: -4rem;
  font-size: 2.7rem;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 700;
} */


.BoxImage_BoxImages__1jAHk {
  transform: scale(.7);
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  perspective: 1000px;
  transform: scale(.9);
}

.BoxImage_BoxImages__1jAHk .BoxImage_ImageOne__2DbDr,
.BoxImage_BoxImages__1jAHk .BoxImage_ImageTwo__-DB6r,
.BoxImage_BoxImages__1jAHk .BoxImage_ImageThree__18KRo {
  position: absolute;
  width: 12.5rem;
  height: 12.5rem;
  box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, .4);
  animation: BoxImage_reveal__1TlBY .8s cubic-bezier(.18, .89, .32, 1.28);
  animation-fill-mode: forwards;
}

.BoxImage_BoxImages__1jAHk .BoxImage_ImageOne__2DbDr {
  top: 5rem;
  left: -30px;
  animation-delay: 1.5s;
}

.BoxImage_BoxImages__1jAHk .BoxImage_ImageTwo__-DB6r {
  top: 19rem;
  left: -30px;
  animation-delay: 1.8s;
}

.BoxImage_BoxImages__1jAHk .BoxImage_ImageThree__18KRo {
  top: 83px;
  left: 30%;
  width: 31.25rem;
  height: 26.25rem;
  animation-delay: 2s;
}

/* .BoxImage_BoxImages__1jAHk .BoxImage_Image__2g921 {
  width: 100%;
  height: 15.625rem;
  margin: 0 auto;
  transform-style: preserve-3d;
  transform: scale(0);
} */

.BoxImage_BoxImages__1jAHk .BoxImage_Image__2g921 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
